html, body {
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Roboto";
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.button {
  background-color: blueblack;
  color: black;
  border: solid 1px blue;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background: blue:
  color:black;
}
.logo {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
}
.tagline {
  font-size: 24px;
  color: white;
}
/*
CSS chat Page
*/
.member-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background: #5856d6;
  color: white;
}
.user-info{
  background: black;
  padding: 10px;
}
.logout{
  float: right;
}
.member{
  padding: 10px;
  border-bottom: solid 1px black;
}
.member.active{
  font-weight: bold;
  background-color: azure;
  color: green;
}
.member:hover{
  cursor:pointer;
  color:red;
  background: white;
}
.message-area {
  background-color: azure;
  position: fixed;
  left:30%;
  top: 0;
  width: 70%;
}
.chat-info{
  background-color: ;
  padding: 10px;
  color:black;
}
.messages {
  background: lightblue;
  height: 100%;
  padding: 10px;

  overflow: auto;
}
.message {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: red;
  float: left;
  width: 70%;
}
.message.by-user {
  background: grey;
  float: right;
  width: 70%;
}
.chat-form {
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: white;
  padding: 20px;
}
.chat-message {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  display: block;
  width: 100%;

}
